#project-status { display: none; }
#project-notes-area { padding-top: 5px; }
.sub-line { display: none; }

#tasklist-horizontal { padding: 0 10px 0 15px; margin-top: 15px; }
#tasklist-horizontal .task-group {
  width: 250px;
  padding: 4px;
  margin-right: 4px;
}


#tasklist-horizontal .flag-zone .assigned-to-zone { display: none; }
#tasklist-horizontal .flag-zone .task-status { display: none; }
#tasklist-horizontal .flag-zone .timer-icon { display: none; }
#tasklist-horizontal .flag-zone .comment-count { display: none; }
#tasklist-horizontal .flag-zone .actual-time  { display: none; }

#tasklist-horizontal .task-item .percent-progress { display: none; }
#tasklist-horizontal .task-item {
  width: 240px;
  box-shadow: 0 1px 0 rgba(9,30,66,.25);
  border-radius: 3px;
  border: none;
}

#project-header { margin-top: 10px; }
#project-header #project-title { font-size: 18px; display: inline; }
#project-header .project-settings { display: none; }
#project-header .btn {
  background-color: #e6e6e6;
  color: #222;
  font-size: 12px;
  position: relative;
  top: -3px;
  margin-right: 10px;
  padding: 4px 8px;
}

#project-header .btn i { font-size: 16px; margin-right: 2px; }
#project-header .btn:hover {
  background-color: rgba(12,12,12,0.3);
}

.universal-add > a .add-circle { background-color: #7d8892; }
.universal-add > a:hover .add-circle { background-color: #959ea7; }

#tasklist-horizontal .add-task-zone > a {
  font-size: 12px;
  color: #6b778c;
  height: initial;
  line-height: initial;
  border: none;
  border-radius: 0;
  padding: 4px 8px;
  text-align: left;
  font-weight: normal;
  background-color: initial;
}

#tasklist-horizontal .add-task-zone > a:hover {
  background-color: rgba(9,30,66,.08);
}

#tasklist-horizontal .group-settings .add-task-link { display: none; }
#tasklist-horizontal .group-settings .collapse-expand { display: none; }
#tasklist-horizontal .flag-zone { margin-top: 0; display: block; }
#tasklist-horizontal .flag-zone > div {
  display: inline;
  margin-right: 0;
  height: auto;
}

#tasklist-horizontal .group-title { margin-right: 30px; }
#tasklist-horizontal .group-settings > div.dropdown > a {
  margin-top: 7px;
  padding: 5px;
}
#tasklist-horizontal .task-handle { top: -3px; }

#tasklist-horizontal .dateduestring {
  float: none;
  margin: 0;
  font-size: 10px;
  color: white;
  padding: 4px;
  border-radius: 3px;
  background-color: rgb(233, 233, 233);
  color: #555;
  display: inline;
  height: auto;
}

#tasklist-horizontal .dateduestring:before {
  content: '🕓 ';
}

#tasklist-horizontal .task-wrap {
  padding: 6px 8px;
  border-radius: 3px;
}

#create-task-inline-form .task-status  { display: none; }
#create-task-inline-form .inline-field  { display: none; }
#task-pane.horizontal #create-task-inline {
  padding: 6px 8px 2px;
}

#create-task-inline-form #new-task-inline-title {
  font-size: 12px;
}

#tasklist-horizontal .task-title {
  font-size: 0.9em;
  margin-bottom: 0px;
  margin-right: 20px;
}

#tasklist-horizontal .tag {
  font-size: 9px;
  padding: 0px 6px;
}

#create-task-inline-form #new-task-inline-title[contentEditable="true"]:empty:before {
  content: attr(data-text);
  color: #b3c3dc;
  font-size: 12px;
}

.ui-pnotify .alert-success { display: none; }

.section-boards {
  position: absolute;
  display: none;
  top: 45px;
  right: 50px;
  border: 1px solid #AAA;
  min-width: 200px;
  width: 200px;
  background-color: white;
}

.section-boards ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
}

.section-boards > div {
  font-size: 0.9em;
  font-weight: lighter;
  color: #888;
  padding: 10px 10px 5px 10px;
}

.section-boards ul li {
  padding: 10px 10px;
}

.section-boards ul li:hover {
  background-color: whitesmoke;
}

.section-boards ul li a {
  color: rgb(51, 51, 51);
}

.section-boards ul li a:hover {
  text-decoration: none;
}
